a{
   background-color: rgb(0, 255, 179); 
   border: 10px solid blue;
   border-radius: 15px;
   padding: Spx;
   margin: Spx; 
}

a:link{
   text-decoration: none; 
}
a:visited{
    color: purple;
}
a:hover{
    background-color: rgb(255, 80, 80);
}
a:active{
    border-width: Spx;
}
body{
    background-color: rgb(255, 0, 0);
    border: 10px solid rgb(255, 0, 0);
    border-radius: 15px;
    padding: Spx;
    margin: Spx;
}
a:link {

    color: white;
    background-color: transparent;
    text-decoration: none;

}

a:visited {

    color: white;
    background-color: transparent;
    text-decoration: none;

}

a:hover {

    color: white;
    background-color: transparent;
    text-decoration: none;

}

a:active {

    color: white;
    background-color: transparent;
    text-decoration: none;

}

.button {

    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    text-shadow: 0px 4px 8px black;

}

.button span {

    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

.button span:after {

    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

}

.button:hover span {

    padding-right: 25px;

}

  .button:hover span:after {

    opacity: 1;
    right: 0;

}


